#anchor{
	-fx-background-color : linear-gradient(to right bottom, #029690, #592C85);
}

#vboxPrincipale{
	-fx-background-color : linear-gradient(to right bottom, #029690, #592C85);
}

#topBar{
    -fx-background-color : #F2A005;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #FFFFFF;
}

#boutonOptions:pressed{
    -fx-background-color: #EEE9E0;
}

#boutonConnection{
    -fx-font-size: 14; /* 12 */
}

#boutonCreerCompte{
    -fx-font-size: 14; /* 12 */
}